.body{
    font-family: 'lexend', helvetica;
    width: 280px;
}
.back-arrow {
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}

.preference-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}
